[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
openai = "*"
pydantic-settings = "*"
pillow = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
bcrypt = "*"
rich = "*"
pyyaml = "*"

[dev-packages]
alembic = "*"
pytest = "*"
flake8 = "*"
flake8-pyproject = "*"
black = "*"
mypy = "*"
types-pyyaml = "*"

[requires]
python_version = "3.10"
